@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
}


h1 {
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: #0ccac4;
}
h2 {
  font-size: 15px;
}
p {
  font-size: 13px;
  margin-bottom: 0;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  padding: 15px;
}
.scroll {
  max-height: 600px;
  max-width: 680px;
  overflow-y: scroll;
  border: 1px solid #fff;
  margin: 30px auto;
}
.hasError,
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: #0ccac4;
  font-size: 20px;
  letter-spacing: 1px;
}
.hasError {
  font-size: 14px;
  color: #fff;
  font-family: arial;
}